<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      >
    <body>
        <div layout:fragment="content" class="container">
            <div class="col-md-12">
                <div class="d-flex p-2 justify-content-between">
                    <h3>list categories</h3>
                    <a class="btn btn-primary" th:href="@{/admin/category-product/create/}">create</a>
                </div>
                <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">name</th>
                            <th scope="col">action</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item: ${categories}" >
                            <td th:text="${item.getId()}"></td>
                            <td th:text="${item.getName()}"></td>
                            <td>
                                <a class="btn btn-link" th:href="@{'/admin/category-product/'+ ${item.getId()}}"><i class="fa-solid fa-info"></i></a>
                                <a class="btn btn-link" th:href="@{'/admin/category-product/edit/'+ ${item.getId()}}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-link" th:href="@{'/admin/category-product/delete/'+ ${item.getId()}}"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>
