<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      >
    <body>
        <div layout:fragment="content" class="container">
           
            <h1>list user</h1>
            <a class="btn btn-primary" th:href="@{/user/create/}">create</a>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">username</th>
                        <th scope="col">password</th>
                        <th scope="col">role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item: ${accounts}" >
                        <th scope="row">1</th>
                        <td th:text="${item.getUsername()}"></td>
                        <td th:text="${item.getPassword()}"></td>
                        <td th:text="${item.role.getName()}"></td>
                        <td>
                            <a class="btn btn-link" th:href="@{'/user/'+ ${item.getUsername()}}">detail</a>
                            <a class="btn btn-link" th:href="@{'/user/edit/'+ ${item.getUsername()}}">edit</a>
                            <a class="btn btn-link" th:href="@{'/user/delete/'+ ${item.getUsername()}}">delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
